extends ./layout/app

block content

        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10")= page

            if properties.length
                div(class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-14")
                    each property in properties
                        include ./templates/card

            else
                p(class="text-center text-gray-800 text-sm py-10") No Results